<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="resultContent">
        <% for (var i = 0; i < data.length ; i ++) { %>    
            <h2 class="name">가게명 : <%= data[i].name %></h2>
            <p class="address">주소 : <%= data[i].address %></p>
            <p class="phone">전화번호 : <%= data[i].phone %></p>
            <p class="menu">메뉴 : <%= data[i].menu %></p>
        <% } %> 
</div>
</body>
</html>